<div class="row">
  <div class="col-md-12">
    <%= form_with(model: plat, local: true) do |form| %>
      <% if plat.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(plat.errors.count, "error") %> prohibited this plat from being saved:</h2>

          <ul>
            <% plat.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :nom %>
        <%= form.text_field :nom, id: :plat_nom %>
      </div>

      <div class="field">
        <%= form.label :date %>
        <%= form.date_field :date, id: :plat_date %>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>
    <% end %>
  </div>
</div>
