<div class="row">
  <div class="col-md-7">
    <h4> <b style='color: red'>ATTENTION</b> passez vos commandes avant 9:30</h4>
    <% if peut_commander?(current_user, @plats) %>
      <h3>Les plats du jour</h3>
      <%= form_tag commande_path do %>
        <% @plats.each do |plat| %>
          <p><%= radio_button :plat, :plat_id, plat.id %><%= plat.nom %></p>
        <% end %>
        <%= submit_tag 'Commander ce plat', disable_with: 'Commande en cours...'%>
      <% end %>
    <% else %>
      <div class='information'>
        <%= pourquoi_je_ne_peux_pas_commander?(current_user, @plats)%>

        <% if a_deja_commande_a_l_heure?(current_user) %>
          <div class="col-md-12">
            <%= link_to 'Annuler ma commande',
              annuler_commande_path(current_user['id']), class: 'btn btn-danger'%>
            <% link_to 'Modifer ma commande',
              modifier_commande_path(current_user['id']), class: 'btn btn-warning'%>
            </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="col-md-5">
    <div class="container">
      <h4>
        Les commandes de la journée [<%= @commandes_count || 0 %>]
      </h4>
      <hr>
      <div class="row">
        <div class="col-lg-12" style="">
          <div class="panel panel-default list-group-panel">
            <div class="panel-body">
              <ul class="list-group list-group-header">
                <li class="list-group-item list-group-body">
                  <div class="row">
                    <div class="col-lg-8 text-left">Plat</div>
                    <div class="col-lg-4" style="text-align: center">Commandes</div>
                  </div>
                </li>
              </ul>
              <ul class="list-group list-group-body" style="">
                <% @commandes.each do |plat, personnes| %>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-lg-8 text-left" style="">
                        <b><%= plat%></b>
                        <p>
                          <small>par : <%= personnes.join(', ') %></small>
                        </p>
                      </div>
                      <div class="col-lg-4" style="text-align: center">
                        <%= personnes.size %>
                      </div>
                    </div>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
          <div id="notifications"></div>
        </div>
      </div>
    </div>
  </div>
</div>
